{% extends '../Inherit/main.html' %}
{% load static %}

{% block cssData %}
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
<link rel="stylesheet" href={% static 'CSS/bootstrap.min.css' %} />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css" />
<link rel="stylesheet" href={% static 'CSS/index.css' %} />
{% endblock %}


{% block bodyData %}
<div class="container w-55">
    <form id="crudForm" class="w-100 mb-5">
        <div class="row">
            
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input type="text" class="form-control" required placeholder="First name" name="FirstName" id="FirstName" aria-label="First Name" aria-describedby="basic-addon1">
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input type="text" class="form-control" required placeholder="Last name" name="LastName"  id="LastName" aria-label="Last Name" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input type="email" class="form-control" required  placeholder="Email" name="Email" id="Email" aria-label="Email" aria-describedby="basic-addon1">
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input type="text" class="form-control" required placeholder="Phone" name="Phone" id="Phone" aria-label="Phone" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input type="text" class="form-control" required placeholder="Username" name="Username" id="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input type="text" class="form-control"  required placeholder="Password" name="Password" id="Password" aria-label="Password" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary w-100" type="submit">SAVE DATA</button>
            </div>
        </div>
    </form>

    <table id="accountsTable" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Username</th>
                <th>Password</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        {% comment %} <tfoot>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </tfoot> {% endcomment %}
    </table>
</div>
{% endblock %}



{% block scriptData %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
<script src={% static 'Scripts/CRUD/crud.js' %} ></script>
<script>
    $(document).ready(function() {
        $('#accountsTable').DataTable();
    });
</script>
{% endblock %}