{% extends '../Inherit/main.html' %}
{% load static %}

{% block bodyData %}
<div class="container">

    <p class="message"></p>
    <form id="registerForm">
        <input type="text" name="name" id="name" placeholder="Enter Name"/>
        <input type="text" name="email" id="email" placeholder="Enter Email"/>
        <input type="password" name="password" id="password"placeholder="Enter Password"/>
        <button type="submit">Register</button>
    </form>
</div>
{% endblock %}


{% block scriptData %}
<script src={% static 'Scripts/Auth/auth.js' %}></script>
{% endblock %}